.panel-workspace-indicator {
    padding: 0 8px;
    background-color: rgba(200, 200, 200, .5);
    border: 1px solid #cccccc;
}

.workspace-title {
    font-weight: bold;
}

.minimized-window-title {
    font-weight: lighter;
}

.maximized-window-title {
    font-style: italic;
}

.current-window-title {
    font-weight: bold;
}
